<!-- Based off of w3schools template -->

<!DOCTYPE html>
<html>
<title>Greatest Hits</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="light-grey content" style="max-width:1600px">

<!-- Sidebar/menu -->
<% if (artistName !== null) { %>
<nav class="sidebar collapse white animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
	<div class="container">
		<img src=<%= artistImg %> style="width:100%;" class="round"><br><br>
		<h4><b><%= artistName %></b></h4>
		<p class="text-grey">Followers: <%= artistFollowers %></p>
		<p class="text-grey">Popularity: <%= artistPopularity %>/100</p>
	</div>
</nav>
<% } %>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="overlay hide-large animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="main" style=
	<% if (artistName !== null) { %>
	"margin-left:300px">
	<% } else { %>
	"margin-left:0px">
	<% } %>

	<!-- Header -->
	<header id="greatesthits">
		<% if (artistName !== null) { %>
		<div class="container">
			<div align="left">
				<a style="text-decoration:none" href=<%= siteURL %>><h1><b>Greatest Hits</b></h1></a>
			</div>
			<div class="half section padding-16">
    			<button class="button black">Top Albums</button>
      			<button class="button white">Top Tracks</button>
			</div>
			<div class="half section padding-16" align="right">
				<fieldset>
					<form action="/search" method="post">
						<input name="artist" type="text" class="ghost-input" placeholder="Enter an Artist" required>
						<input type="submit" class="ghost-button" value="See Greatest Hits!">		  			
					</form>
				</fieldset>
			</div>
		</div>	
	<% } else { %>
		<div class="main-title padding-16" align="center">
			<b>Greatest Hits</b>
		</div>
	<% } %>
  	</header>
	
	<% if (artistName !== null) { %>
  	<!-- First Photo Grid-->
  	<div class="row-padding">
    	<div class="third container margin-bottom">
      		<img src="/w3images/mountains.jpg" alt="albumArt" style="width:100%" class="hover-opacity">
      		<div class="container white">
        		<p><b>Album Name Here...</b></p>
        		<p>Popularity: ##/100</p>
      		</div>
    	</div>
    	<div class="third container margin-bottom">
      		<img src="/w3images/lights.jpg" alt="albumArt" style="width:100%" class="hover-opacity">
      		<div class="container white">
        		<p><b>Album Name Here...</b></p>
        		<p>Popularity: ##/100</p>
      		</div>
    	</div>
    	<div class="third container">
      		<img src="/w3images/nature.jpg" alt="albumArt" style="width:100%" class="hover-opacity">
      		<div class="container white">
        		<p><b>Album Name Here...</b></p>
    			<p>Popularity: ##/100</p>
  			</div>
    	</div>
	</div>
  
  	<!-- Second Photo Grid-->
  	<div class="row-padding">
    	<div class="third container margin-bottom">
      		<img src="/w3images/p1.jpg" alt="albumArt" style="width:100%" class="hover-opacity">
      		<div class="container white">
        		<p><b>Album Name Here...</b></p>
        		<p>Popularity: ##/100</p>
      		</div>
    	</div>
    	<div class="third container margin-bottom">
      		<img src="/w3images/p2.jpg" alt="albumArt" style="width:100%" class="hover-opacity">
      		<div class="container white">
        		<p><b>Album Name Here...</b></p>
        		<p>Popularity: ##/100</p>
      		</div>
    	</div>
    	<div class="third container">
      		<img src="/w3images/p3.jpg" alt="albumArt" style="width:100%" class="hover-opacity">
      		<div class="container white">
        		<p><b>Album Name Here...</b></p>
        		<p>Popularity: ##/100</p>
      		</div>
    	</div>
  	</div>
	<% } else { %>
	<!-- Placeholder Body Content-->
	<div align="center" class="bigspace">
		<p>Enter an artist's name to see their hits!</p>
		<fieldset>
			<form action="/search" method="post">
				<input name="artist" type="text" class="ghost-input" placeholder="Enter an Artist" required>
				<input type="submit" class="ghost-button" value="See Greatest Hits!">		  			
			</form>
		</fieldset>
		<p>Powered by Spotify</p>
	</div>
	<% } %>

  	<!-- Footer -->
  	<footer class="container padding-32 dark-grey">
		<div class="row-padding">
			<div class="half" align="center">
				<h3>Powered by Spotify</h3>
				<p>Uses the Spotify Web API to retrieve artist data. See more <a href="https://beta.developer.spotify.com/documentation/web-api/">here</a>.</p>
			</div>
	
			<div class="half" align="center">
				<h3><a href="https://github.com/rdsun0301/GreatestHits" title="GitHubRepository" target="_blank" class="hover-opacity">GitHub Repository</a></h3>
				<p>Greatest Hits' source code is publicly available on GitHub.</p>
			</div>
		</div>
  	</footer>
  
	<div class="black end-pad">
		<h6 class="half" align="center">Created by Richard Sun</h6>
		<a href="https://www.linkedin.com/in/rdsun0301/" title="LinkedIn" target="_blank" class="half hover-opacity" align="center">Richard's LinkedIn
		<img src=/assets/images/linkedin.png style="width:50px"></a>
	</div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>

